<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glxxxt.site.dao.PurchaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.glxxxt.site.entity.Purchase">
        <id column="id" property="id" />
        <result column="ingredient_id" property="ingredientId" />
        <result column="price" property="price" />
        <result column="quantity" property="quantity" />
        <result column="date" property="date" />
    </resultMap>

    <insert id="purchase" parameterType="com.glxxxt.site.entity.Purchase">
        insert into purchase (ingredient_id, price, quantity, date) values (#{ingredient_id}, #{price}, #{quantity}, #{date})
    </insert>
    <select id="getAll" resultType="com.glxxxt.site.entity.Purchase">
        select * from purchase
    </select>
</mapper>
